.navbar {
    background-color: #171343;
    color: #fff;
    padding: 1rem 0;
    width: 100%;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}
