/* global.css */

/* Importa la fuente que deseas utilizar, por ejemplo, Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Aplica la fuente globalmente */
html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplica la transición globalmente */
* {
    transition: all 1s ease;
}

/* Asegúrate de que todos los elementos hereden estos estilos */
*, *::before, *::after {
    box-sizing: inherit;
}

.navbar{
    /* background-color: #171343; */
    background-color: #070c27;
}
.navbar .offcanvas{
    background-color: #070c27;
}

.footer{
    background-color: #333;
}

:any-link{
    text-decoration: none;
}